a {
    text-decoration: none;
    color: inherit;
}


/* Sketch Style Button */
.sketch-btn {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 10px 22px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 4px 4px 0px #000;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    display: inline-block;
}

.sketch-btn:hover {
    background-color: #f2f2f2;
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
}

.sketch-btn:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px #000;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
  cursor: default;
}

.sketch-form input,
.sketch-form textarea,
.sketch-form select {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    box-shadow: 4px 4px 0 black;
    outline: none;
}

.sketch-form input:focus,
.sketch-form textarea:focus,
.sketch-form select:focus {
    transform: translate(2px,2px);
    box-shadow: 2px 2px 0 black;
}

.sketch-card {
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 0 black;
    background: #fff;
}

.sketch-img {
    max-height: 300px;
    object-fit: cover;
    box-shadow: 3px 3px 0 black;
}